:root {
  --title-font: "Inter", sans-serif;
  --text-font: "Roboto", sans-serif;
  --text-color: #dcdcde;
  --red-color: #b81515;
  --dark-red-color: #8d0f0f;
}

button {
  color: var(--text-color);
  background-color: var(--red-color);
  padding: 0.7em;
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: bn53bounce 4s infinite;
  cursor: pointer;
  font-family: var(--title-font);
}

button:hover {
  color: var(--text-color);
  background-color: var(--dark-red-color);
  transition: 0.5s;
}
