/*! Removed unused and unnecesary variables */
@import url(/styles/custom_styles.css);

button {
  color: rgb(238, 233, 233);
  background-color: var(--red-color);
  padding: 0.7em;
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: bn53bounce 4s infinite;
  cursor: pointer;
  font-family: var(--title-font);
}

button:hover {
  color: rgb(238, 233, 233);
  background-color: #8d0f0f;
  transition: 0.5s;
}
