/*! Removed unused and unnecesary variables */
:root {
  --title-font: "Inter", sans-serif;
  --text-font: "Roboto", sans-serif;
  --red-color: #b81515;
}

button {
  color: rgb(238, 233, 233);
  background-color: var(--red-color);
  padding: 0.7em;
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: bn53bounce 4s infinite;
  cursor: pointer;
  font-family: var(--title-font);
}

button:hover {
  color: rgb(238, 233, 233);
  background-color: #8d0f0f;
  transition: 0.5s;
}
