/*Roboto font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*Inter Font*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --title-font: "Inter", sans-serif;
  --text-font: "Roboto", sans-serif;
  --red-color: #b81515;
}

body {
  font-family: var(--title-font); /*! Change it soon */
  color: white; /*! Change it so it works without affecting other elements */
  background-image: url(/Maciflix/images/zjgs096khv591.jpg);
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
  background-color: rgba(0, 0, 0, 0.8);
}

header h1 {
  color: var(--red-color);
  font-family: var(--title-font);
}

input {
  border-radius: 8px;
  padding: 0.8em;
}

#register {
  width: auto;
  font-size: 1em;
  padding: 1rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  /* ? Glass Effect */
  background: rgba(42, 41, 41, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(10px);
  border: 5px solid rgba(42, 41, 41, 0.3);
  padding: 7em;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.register {
  display: flex;
  flex-direction: column;

  align-items: center;
}

/* ! Reduce the selectors needed to apply the font family ASAP */
